{% extends 'base.html.twig' %}
{% block title %} Services.Agri {% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="login-form mt-4 p-4">
                <form method="post" class="row g-3">
                    <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
                    <div class="col-12">
                        <label for="">Nom d'utilisateur</label>
                        <input type="text" name="_username" class="form-control" required autofocus>
                    </div>
                    <div class="col-12">
                        <label for="">Mot de passe</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-lg btn-primary float-end" type="submit">
                            Connexion
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}