{% extends 'base.html.twig' %}

{% block body %}

<h1>Veuillez vous inscrire</h1>

{{ form_start(form) }}

{{ form_row()}}

<button class="submit btn btn-primary">Inscription</button>

{{ form_end(form) }}

{% endblock %}
