{% extends 'base.html.twig' %}

{% block title %} Salut  {{ controller_name }}{% endblock %}

{% block body %}

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum nesciunt quam fugit qui, consequatur dicta culpa ipsa, quidem optio vitae sint voluptates reprehenderit, ullam suscipit maxime reiciendis sequi? Error, necessitatibus.
    Ea ut porro voluptatum labore itaque totam quam ab, unde mollitia qui. Natus totam consequuntur, id doloribus culpa provident, ipsum impedit numquam enim iure asperiores, quia nesciunt quibusdam exercitationem quisquam?</p>

{% endblock %}
