<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css" 
        integrity="sha256-5veQuRbWaECuYxwap/IOE/DAwNxgm4ikX7nrgsqYp88=" crossorigin="anonymous">
        {% block stylesheets %}<link rel="stylesheet" type="text/css" href="{{asset('bootstrap.min.css')}}">
        {% endblock %}
    </head>
    <body>
        <style>
            .navbar { margin-bottom: 40px }
            .navbar img { max-height: 40px }
            .navbar .dropdown-toggle:hover {
                function(){$(this).toggleClass('show');
                aria-expanded: true
            }
        </style>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img class="fit-picture" src="logo.png" alt="logo du site"></img></a>
                <button 
                    class="navbar-toggler" 
                    type="button" 
                    data-bs-toggle="collapse" 
                    data-bs-target="#navbarColor01" 
                    aria-controls="navbarColor01" 
                    aria-expanded="false" 
                    aria-label="Toggle navigation"
                ><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/forum">Forum</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/services">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/messagerie">Messagerie</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-md-auto">                
                        <li class="nav-item">
                            <a class="nav-link account" href="/compte">Mon compte</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>              
        <div class="container">
            {% block body %}{% endblock %}
            <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js" 
            integrity="sha256-7PzqE1MyWa/IV5vZumk1CVO6OQbaJE4ns7vmxuUP/7g=" crossorigin="anonymous"></script>
            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
