{% extends 'base.html.twig' %}

{% block title %}forum {% endblock %}

{% block body %}
<style>
    .forum{
        display: flex;
        font: 18px/1.5 sans-serif; 
    }

    .container {
        justify-content: center;
        align-content: center;
        height: 80vh;
        width: 100vw;
        display: grid;
    }

    body {
        background-image:url('image3.jpg');
        background-size: cover;
    }
     
    .btn{
        margin-bottom: 40px;
        height: 40px;
    }

    .form-inline {
        margin-top: auto;
        margin-bottom: auto;
    }

    .form-control {
        height: 40px;
    }

</style>

<div class="Forum">

    
  <form class="form-inline" action="/recherche/" method="get">
    <fieldset>    
      <div class="input-group"> 
        <div class="input-group-prepend">
          <select id="oCategorie" name="oCategorie" class="form-control">
            <option selected="selected" value="0">Catégorie</option>
            <option value="1">Service</option>
            <option value="1">Titre</option>
          </select>
        </div>
        <input id="oSaisie" name="oSaisie" type="text" class="form-control" aria-label="Saisie de mots clés" required="required">
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit">Recherche</button>
        </div>
      </div>
      <a class="btn btn-primary btn-selector" href="creation_forum">Ajouter un topic</a>
    </fieldset> 
  </form>





</div>



{% endblock %}
